# Dictionaries

### One of the most critical compound data type in Python (similar to associative arrays in other languages)
#### Holds data as a key-value pair; key can be any immutable data type and references a value that can be changed
#### Example: {'Mati:'Rossi', 'Tim':'Cook'}  
#### Example: {'Jan':110, 'Feb':90}

# Create dictionaries

In [ ]:
# 1.
dtSales={'Jan':110, 'Feb':90, 'Mar':50, 'Jun':300}
print(dtSales)

# 2.for loop
dtSales={}
Months=['Jan', 'Feb', 'Mar', 'Jun']
Sales=[110, 90, 50, 300]

for i in range(len(Months)):
    dtSales[Months[i]]=Sales[i]

print(dtSales)

# 3.dict() function
dtSales=dict(zip(Months,Sales))
print(dtSales)

{'Jan': 110, 'Feb': 90, 'Mar': 50, 'Jun': 300}
{'Jan': 110, 'Feb': 90, 'Mar': 50, 'Jun': 300}
{'Jan': 110, 'Feb': 90, 'Mar': 50, 'Jun': 300}

In [2]:
# To access values in a dictionary, we MUST pass key. Cannot be accessed using position. e.g.
dtSales['Feb']

# What if you do
dtSales['feb']

<class 'NameError'>: name 'dtSales' is not defined

# Simple exercise:
Write a statement that creates a dictionary containing the following key-value pairs:

- 'a' : 1 'b' : 2 'c' : 3

- ['a', 'b', 'c']
- [1, 2, 3]

In [5]:
# Write a statement that creates a dictionary containing the following key-value pairs:

# 'a' : 1 'b' : 2 'c' : 3
# ['a', 'b', 'c']
# [1, 2, 3]

dtSales={'Jan':110, 'Feb':90, 'Mar':50, 'Jun':300}
dict1 = {'a':1, 'b':2, 'c':3}
keys1 = dict1.keys()
values1 = dict1.values()

print(dict1)
print(keys1)
print(values1)

{'a': 1, 'b': 2, 'c': 3}
dict_keys(['a', 'b', 'c'])
dict_values([1, 2, 3])

# Dictionaries are mutable objects like lists
- This means you CAN add/update elements by specifying them on the left side of an expression.
- You can add new key-value pairs to a dictionary with an assignment statement in the following general format:

dictionary_name[key] = value

In [ ]:
dt={}
dt[1]='Andrew'
dt[2]='Tim'
print(dt)
dt[1]='Alex'
dt[2]='Sara'
print(dt)

{1: 'Andrew', 2: 'Tim'}
{1: 'Alex', 2: 'Sara'}

In [ ]:
# Mixed data types in a dictionary

scores = {'Kayla' : [88, 92, 100],
               'Luis' : [95, 74, 81],
               'Sophie' : [72, 88, 91],
               'Ethan' : [70, 75, 78] }

#### You cannot have duplicate keys in a dictionary.
- When you assign a value to an existing key, the new value replaces the existing value.

In [ ]:
scores = {'Luis' : [88, 92, 100],
      'Luis' : [95, 74, 81],
      'Luis' : [72, 88, 91],
      'Luis' : [70, 75, 78] }
print(scores)

{'Luis': [70, 75, 78]}

# Accessing elements in a dictionary
#### Lists, tuples and strings are sequences; the individual elements occur in order; we can use indexing and slicing operations on these data types.  <font color='red'> The items in Dictionaries do not occur in order </font>.  Hence, you cannot use slicing or indexing operations on them.

- keys() --> Returns all the keys in a dictionary.
- values() --> Returns all the values in the dictionary.
- items() --> Returns all the keys in a dictionary and their associated values.

In [ ]:
# Using for loop to iterate over a dictionary
# dt= {'a': 1, 'b': 2, 'c': 3}

dt= {'a': 1, 'b': 2, 'c': 3}
for key in dt:
  print(key, dt[key])

a 1
b 2
c 3

In [ ]:
dt= {'a': 1, 'b': 2, 'c': 3}
#items() returns all the keys and their associated values.

print(dt.items(),type(dt.items()))
# dict_items([('a', 1), ('b', 2), ('c', 3)]) <class 'dict_items'>

# Cannot use indexing on dict_items

# 1.Convert 'dict_items' to a list
print( )
print('Converting dict_items to a list')
items_list=list(dt.items())
print(items_list)
print(items_list[0],items_list[1],items_list[2])

dict_items([('a', 1), ('b', 2), ('c', 3)]) <class 'dict_items'>

Converting dict_items to a list
[('a', 1), ('b', 2), ('c', 3)]
('a', 1) ('b', 2) ('c', 3)

In [ ]:
# To access keys in a dictionary
dt= {'a': 1, 'b': 2, 'c': 3}

#keys() method returns all of a dictionaryâ€™s keys as a dictionary view
print(dt.keys(),type(dt.keys()))

# 1.Convert 'dict_keys' to a list
print( )
print('Converting dict_keys to a list')
print(list(dt.keys()))
print(list(dt.keys())[0],list(dt.keys())[1],list(dt.keys())[2])

dict_keys(['a', 'b', 'c']) <class 'dict_keys'>

Converting dict_keys to a list
['a', 'b', 'c']
a b c

In [ ]:
dt= {'a': 1, 'b': 2, 'c': 3}
# To access values in a dictionary
print(dt.values(),type(dt.values()))

# 1.Convert 'dict_values' to a list
print( )
print('Converting dict_values to a list')
print(list(dt.values()))
print(list(dt.values())[0],list(dt.values())[1],list(dt.values())[2])

dict_values([1, 2, 3]) <class 'dict_values'>

Converting dict_values to a list
[1, 2, 3]
1 2 3

In [ ]:
#what does someVar access - key or value? - KEY
dt= {'a': 1, 'b': 2, 'c': 3}
for someVar in dt:
    print(someVar)

a
b
c

## ICE
Suppose we have a dictionary 'dtSales' that stores sales data from January to May

In [ ]:
# Operations, order in which key-value pairs are accessed.
dtSales={'Jan':110, 'Feb':90, 'Mar':130, 'Apr':80, 'May':200}

{'Jan': 110, 'Feb': 90, 'Mar': 130, 'Apr': 80, 'May': 200}

In [ ]:
# Find sales data for May from dictionary


dtSales[4]

In [ ]:
# Add 10 to May's sales and modify April's sales to 100 and update the list


dtSales[4].values() = dtSales[4].values() + 10

{'Jan': 110, 'Feb': 90, 'Mar': 130, 'Apr': 100, 'May': 220}

In [ ]:
# Get all months and corresponding sales volume in the dictionary


for month in dtSales:
    print month

Sales_list: [('Jan', 110), ('Feb', 90), ('Mar', 130), ('Apr', 100), ('May', 220)]
Jan 110
Feb 90
Mar 130
Apr 100
May 220

## Merge two dictionaries
### Creating a copy of the dictionary
- dictionary_name.copy()

In [ ]:
# Merge two dictionaries

d1={1:1}
d2={2:2}

# .copy()
d3 = d1.copy()
d3.update(d2)

# |
d4 = d1|d2
print(d3,d4)

{1: 1, 2: 2} {1: 1, 2: 2}

# ICE
Concatenate following dictionaries to create a new one. Sample Dictionaries:

- d1={1:10, 2:20}
- d2={3:30, 4:40}
- d3={5:50, 6:60}
- Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [ ]:
# Concatenate following dictionaries to create a new one. Sample Dictionaries:  d1={1:10, 2:20} d2={3:30, 4:40} d3={5:50, 6:60} Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

d1={1:10, 2:20}
d2={3:30, 4:40}
d3={5:50, 6:60}

newD = d1 + d2 + d3

{1: 10, 2: 20, 3: 30, 4: 40}

Write a function called checkSales that takes a dictionary and a key that user wants to search as its parameters and returns the value associated with a given key if it exists otherwise returns None if key is not found. Print the appropriate messagges based on the return values in the main function.

# Operation
- in and not in keywords
- len

## removing elements from dictionary
- pop --> Returns the value associated with a specified key and removes that key-value pair from the dictionary.
- popitem --> Returns a randomly selected key-value pair as a tuple from the dictionary and removes that key-value pair from the dictionary.
- deleting elements: General format is --> del dictionary_name[key]
- clear --> General format is dictionary_name.clear()

In [ ]:
dtSales={'Jan':110, 'Feb':90, 'Mar':130, 'Apr':80}
# in and not in operators .. handy to avoid KeyError Exception
if 'Feb' in dtSales:
    print(dtSales['Feb'])

if 'Dec' not in dtSales:
    print("Too early for december")

90
Too early for december

In [ ]:
dLen = len(dtSales)
print(dLen)

4

In [ ]:
# pop removes the item and returns the value of the key referred to in the argument
dtSales={'Jan':110, 'Feb':90, 'Mar':130, 'Apr':80}
print(dtSales)
Jan_sales=dtSales.pop('Jan')
print(dtSales,Jan_sales, sep='\n')

{'Jan': 110, 'Feb': 90, 'Mar': 130, 'Apr': 80}
{'Feb': 90, 'Mar': 130, 'Apr': 80}
110

In [ ]:
#Returns last key-value pair as a tuple from the dictionary and removes that key-value pair from the dictionary.
dtSales={'Jan':110, 'Feb':90, 'Mar':130, 'Apr':80}
Sales=dtSales.popitem()
print(dtSales,Sales, sep='\n')

{'Jan': 110, 'Feb': 90, 'Mar': 130}
('Apr', 80)

In [ ]:
# Clearing all the elements of a dictionary
dtSales={'Jan':110, 'Feb':90, 'Mar':130, 'Apr':80}
dtSales.clear()
print(dtSales)
Sales=dtSales.popitem()

{}

KeyError: ignored

# ICE 1
Use a foor  loop to count the frequency of list item and store the results in a dictionay
- List1 = [1, 2, 2, 3, 4, 1, 4, 5, 5, 6, 7, 7]

In [ ]:
# Count the frequency of list item
# List1 = [1, 2, 2, 3, 4, 1, 4, 5, 5, 6, 7, 7]

List1 = [1, 2, 2, 3, 4, 1, 4, 5, 5, 6, 7, 7]
freq = {}
            #TODO: write a for loop to iterate over the numbers in the list

            #TODO: check if the number is already in the list as a key
            #TODO: frequency increases by 1 if condition is True

            #TODO: frequency is 1 if the condition is False

print(freq)

{} 1
{1: 1} 2
{1: 1, 2: 1} 2
{1: 1, 2: 2} 3
{1: 1, 2: 2, 3: 1} 4
{1: 1, 2: 2, 3: 1, 4: 1} 1
{1: 2, 2: 2, 3: 1, 4: 1} 4
{1: 2, 2: 2, 3: 1, 4: 2} 5
{1: 2, 2: 2, 3: 1, 4: 2, 5: 1} 5
{1: 2, 2: 2, 3: 1, 4: 2, 5: 2} 6
{1: 2, 2: 2, 3: 1, 4: 2, 5: 2, 6: 1} 7
{1: 2, 2: 2, 3: 1, 4: 2, 5: 2, 6: 1, 7: 1} 7
{1: 2, 2: 2, 3: 1, 4: 2, 5: 2, 6: 1, 7: 2}

# ICE 2
Concatenate the following dictionaries to creata a new one. If a key repeats across the three dictionaries, you have to add the values corresponding to the key.
- d1={1:10, 2:20}
- d2={1:20, 3:30, 4:40}
- d3={5:50,6:60,3:60}
- Expected result: {1: 30, 2: 20, 3: 90, 4: 40, 5: 50, 6: 60}
- HINT: You need to use list of dictionaries to loop over the three dictionaries using nested FOR loops

In [4]:
# If a key repeats across the three dictionaries, you have to add the values corresponding to the key.
# d1={1:10, 2:20} d2={1:20, 3:30, 4:40} d3={5:50,6:60,3:60}
# Expected result: {1: 30, 2: 20, 3: 90, 4: 40, 5: 50, 6: 60}

d1={1:10, 2:20}
d2={1:20, 3:30, 4:40}
d3={5:50,6:60,3:60}
dict_list = [d1, d2, d3]
new_dict = {}
# HINT: You need to use list of dictionaries to loop over the three dictionaries using nested FOR loops

d1={1:10, 2:20}
d2={1:20, 3:30, 4:40}
d3={5:50,6:60,3:60}
new_dict={}
for d in [d1,d2,d3]: #Create a list with all three dictionaries, then iterate over the three dictionaries
    for key_value in list(d.items()): #Put all items in the dictionary into a list as tuples, and iterate over all the key_value pairs
        if key_value[0] in new_dict: # key_value[0] is the key of a kay_value_pair, check if the key has already existed in the new dictionary.
            new_dict[key_value[0]]=new_dict[key_value[0]]+key_value[1] # Update value if key exists
        else:
            new_dict[key_value[0]]=key_value[1]  # Create a new key_value_pair in new disctionary, if key dosen't exist
print(new_dict)

{1: 30, 2: 20, 3: 90, 4: 40, 5: 50, 6: 60}

## Extra ICE
- Use a for loop to iterate over both keys and values in a dictionary

In [ ]:
dt= {'a': 1, 'b': 2, 'c': 3}
#items() returns all the keys and their associated values.

print(dt.items(),type(dt.items()))
# dict_items([('a', 1), ('b', 2), ('c', 3)]) <class 'dict_items'>

# Cannot use indexing on dict_items

# 1.Convert 'dict_items' to a list
print( )
print('Converting dict_items to a list')
items_list=list(dt.items())
print(items_list)
print(items_list[0],items_list[1],items_list[2])

# Use a for loop to iterate over both keys and values in a dictionary
print( )
print('Using for loop')
for key_value_pair in dt.items():
    print (key_value_pair,'key:',key_value_pair[0],'value:',key_value_pair[0])