# Objective: Write python programs to collect user input, perform calculations, and produce formatted output

Commenting your code

What are basic data types?

CONSTANTs and variables

Assigning values to variables

Variable naming rules: Do's and Don'ts

Python operators and precedence

Output formatting

In [ ]:
# 1. Comments in Python are identified with a hash symbol, #, and extend to the end of the line.

# Ctrl + / or type # sign
# Shift+3


# 2.input
age=input("What is your age?") # input
print('age:',age)
# Default data type when doing input is string

type(input("What is your age?"))    #The type() function either returns the type of the object or returns a new type object based on the arguments passed.
# input function returns the entered value, as a string, back to the program.

What is your age?1
age: 1
What is your age?1

str

**Int Data Type**

>

positive or negative whole number without a decimal point
*   5

>
**Float Data Type**

>
A numeric literal that is written with a decimal point is considered a float

*   5.0





**Boolean Data Type**

>

Not all variables should assume numeric values. An example of such type of values is the Boolean type.

*   In Python, this means a True or False value, corresponding to the machine’s logic of understanding 1s and 0s, on or off, right or wrong, true or false.

*   Double equal sign == in Python is to compare values of two expressions or objects. It checks if the values are equal and returns a Boolean result (True or False)

*   1==1  True
*   1==0  False

>



**String Data Type**

>
Strings are text values composed of a sequence of characters.

*   "What is your name?"

# ** Assigning values to variables**
 The assignment operator, denoted by the “=” symbol, is the operator that is used to assign values to variables in Python. The line x=1 takes the known value, 1, and assigns that value to the variable with name “x”. After executing this line, this number will be stored into this variable. Until the value is changed or the variable deleted, the character x behaves like the value 1.

In [ ]:
# In the assignment statement, variable receiving value must be on left side.
x=1

# Multiple assignment is possible in Python.

a,b = 5, 'hello'
# a=5
# b='hello'
print (a,b)
print(a)
print(b)

5 hello
5
hello

In [ ]:

#TODO: assign 20 to a variable called age


#TODO: print age

20

In [ ]:
#The type() function either returns the type of the object or returns a new type object based on the arguments passed.
print(type(5))
a='5'
b=0.5
print(type(a))
print(type(b))

<class 'int'>
<class 'str'>
<class 'float'>

In [ ]:
# Type conversion from string to int and float.
# Default data type when doing input is string.

# int()    converts the specified value into an integer number
# float()   converts the specified value into an float number
# str()    converts the specified value into a string

age=input("What is your age?")
print(age,type(age),type(int(age)))



sal = float(input("What is my salary?"))
print(sal,type(sal))

What is your age?20
20 <class 'str'> <class 'int'>
What is my salary?20
20.0 <class 'float'>

In [ ]:
# even though this is declared as float in the beginning you can always
# change its data by assigning different values
sal = 5.2
print(sal,type(sal))

       #TODO: convert sal to an str value using str()
       #TODO: print the data typy of variable sal

5.2 <class 'float'>
5.2 <class 'str'>

In [ ]:
# Boolean Data Type

# Not all variables should assume numeric values. An example of such type of values is the Boolean type.

# In Python, this means a True or False value, corresponding to the machine’s logic of understanding 1s and 0s, on or off, right or wrong, true or false.



print(1==0,type(1==0))
print(1>0,type(1==0))
print(1<0,type(1==0))

a=1==1

print('a:',a,type(a))

False <class 'bool'>
True <class 'bool'>
False <class 'bool'>
a: True <class 'bool'>

In [ ]:
# The python statement below defines the constant called TAX_RATE. It is a common practice to use all CAPS letters to
# designate a constant.. And this is how you add comments to your code using # character.
TAX_RATE = 0.0875

In [ ]:
# What happens when you run each of these statements?

# age = int(input('What is your age? ')) and user enters 45.6

age = int(input('What is your age? ')) # Throws an error when user enters non-int value

What is your age? 45.6

ValueError: ignored

# Rules for naming variables in Python:
First character must be a letter or an underscore <br>
After the first character, you may use letters, digits, or underscores <br>
Variable name cannot be a Python key word <br>

* ['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']


Variable names are case sensitive <br>
Variable name should reflect its use and be descriptive (for example, length=25 is preferable over a=25) <br>

Good: name, pig, length, abc123 <br>
Bad: 23name, var.12, #name <br>
Different: name, NAME, Name <br>

In [ ]:
# variable name must NOT begin with a number
99sal=444 #erroenous since it begins with a number

ab-2=4 # erroenous since it has - in its name

In [ ]:
# Exercise
# Spot and correct the errors

x=5

3a2=1

ab%2=4

ab 2=5

SyntaxError: ignored

# Output formatting
Removing endline or adding separators or escape characters <br>
... Achieved via different arguments passed to print() function (end=xx, sep=xx, etc.) <br>

Formatting numbers, inserting comma separators, and specifying minimum field width <br>
... All of these are achieved with format() function's specifier (e.g. '10,.2f', '.2e')

In [ ]:
# The separator between the arguments to print() function in Python is space by default,
# which can be modified and can be made to any character, integer or string as per our choice.

print('01','30','1993')

print('01','30','1993', sep='-')
# 01-30-1993

print('01','30','1993', sep='')
# 01301993

01 30 1993
01-30-1993
01301993

In [ ]:

# using the same print statement. Default separator is space character.

#TODO: Adds a '**' as a separator between two strings that are output

Red**Green

In [ ]:
# Python‘s print() function ends with a newline. 'end =' can end a print statement with any character/string

print('01')
print('30')
print('1993')
# 01
# 30
# 1993

print('01',end='-')
print('30',end='-')
print('1993')
# 01-30-1993

01
30
1993
01-30-1993

In [ ]:
# pass the special argument end=' ' to the function

print('One', end=' ')
print('Two', end='@')
print('Three')
print('Four')

One Two@Three
Four

In [ ]:
# \' Causes a single quote mark to be printed.
print('a\'h')
# print('a' h')

# \" Causes a double quote mark to be printed
print("a\"h")



# Triple-quoted strings can contain both single quotes and double quotes as part of the string.

print("""askdfj'h
aksdfjhs"d
asdk\j""")

a'h
a"h
askdfj'h
aksdfjhs"d
asdk\j

In [ ]:
# this will output the value of the last variable on last line
a=1
b=2

a
b

2

In [ ]:
# Formatting numbers, inserting comma separators, and specifying minimum field width
# ... All of these are achieved with format() function's specifier (e.g. '10,.2f', '.2e')
# '.2': round the number to two decimal places.
# 'f' : display floating-point number
# 'e': display floating-point numbers in scientific notation
# ',': format the number with comma separators
# '12': the number should be displayed in a field that is a minimum of 12 spaces wide.
Amt=4550000

print(Amt)
print(format(Amt,"12,.2f"))# specifier "12,.2f"
print(format(Amt,"12"),len(format(Amt,"12")))# Output 12 characters, padded with spaces
print(format(Amt,"12,")) # format the number with comma separators
print(format(Amt,"14,.2f")) # .2 represents the number of digits reserved after the decimal point
print(format(Amt,"14,.2e"))# display floating-point number in scientific notation

4550000
4,550,000.00
     4550000 12
   4,550,000
  4,550,000.00
      4.55e+06

# Python Operators

" + "	Addition ------------ Adds two numbers

" − "	Subtraction --------- Subtracts one number from another

" * "	Multiplication ------ Multiplies one number by another

" / "	Division ------------ Divides one number by another and gives the result as a floating-point number

" // "	Integer division ---- Divides one number by another and gives the result as a whole number

" % "	Remainder ----------- Divides one number by another and gives the remainder

" ** "	Exponent ------------ Raises a number to a power

In [ ]:
num1 = 8
num2 = 3

result_add = num1+num2
result_sub = num1-num2
result_mult = num1*num2

# Note the order of operands
result_float_division= num1/num2 # Divid 8 by 3 and get a floating-point number result
result_integer_division = num1//num2 #Divid 8 by 3 and get a whole number result
result_exp = num1**num2 # 8 raised to the power of 3
result_rem = num1%num2  #find the remainder after dividing 8 by 3

print('Addition ',result_add)
print('Subtraction ',result_sub)
print('Multiplication ',result_mult)
print('Integer division ',result_integer_division)
print('Division ',result_float_division)
print('Exponent',result_exp)
print('Remainder' ,result_rem)

Addition  11
Subtraction  5
Multiplication  24
Integer division  2
Division  2.6666666666666665
Exponent 512
Remainder 2

# Operator Precedence and parantheses (BODMAS/PEMDAS)

Mathematical expressions with multiple operations need to be solved from left to right in the order of BODMAS or PEMDAS.

BODMAS

*   B – Brackets, O – Order of powers or roots, D – Division,
*   M – Multiplication, A – Addition, and S – Subtraction

PEMDAS

*   parentheses, exponents, multiplication, division, addition, subtraction

### Write a python program to calculate
- average of 3 numbers
- volume of a cone V=π*r^2*h/3

In [ ]:
num1= 3
num2= 4
num3= 5

     #TODO Calculate the average of num1, num2, and mun3.
print(avg)

4.0

In [ ]:
r = 1
h = 1
pi = 3.14
     #TODO Calculate volume of a cone V=πr^2h/3.

print(coneVol)

1.0466666666666666

# Complete the following in-class exercises. Submit the notebook file.

### Exer-1:

Write a program to get user's street address, city, state, zipcode and then print the output in a format similar to below: <br>
1 Bernard Baruch Way<br>
New York, NY 10010

What is your street address? 1 Bernard Baruch Way
What is your city? New York
What is your state? NY
What is your zipcode? 10010
1 Bernard Baruch Way
New York, NY 10010


# Finish the remaining exercises.

***********************

### Exer-2:

Write a program that asks user for their weight (in lbs) and height (in inches). Calculate and output their BMI. Formula for BMI: 703 * weight (lbs) / [height (in)]^2

### Exer-3:
1. Write a program to display days of weeks on separate lines using a single print statement
*   prompt: \n is character that will create a new line<br><br>



2. Write a program to output following wage<br>
   - Andrew $ 45,400.66 <br>